.tourist-spots-inputs {
    display: flex;

    .tourist-spots-wrapper-image {
        display: block;
        width: 100%;
        border: 1px solid #bdbdbd;
        
    }
}


.tourist-spots-wrapper-text {
    margin: 18px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    
    .tourist-spots-input-image {
        width: 288px;
        height: 212px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
    }
    
    .tourist-spots-input-image-span {
        cursor: pointer;
    }
    
    .tourist-spots-input-title {
        width: 326px;
        height: 54px;
        padding: 10px;
        border-radius: 3.5px;
    }
    
    .tourist-spots-input-description {
        width: 414px;
        height: 132px;
        margin-top: 17px;
        margin-bottom: 34px;
        padding: 10px;
    }
    
    .tourist-spots-form-submit-button {
        padding: 16px 20px;
        margin-left: 302px;
        border-radius: 8px;
    }
}

.tourist-spots-result-container {
    margin: 80px 0;
}
