* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(#333333);
}

h2 {
  color: var(#333333);
}

button {
  cursor: pointer;
  color: var(#ffffff);
  background: var(#FF5A5F);
  border: 1px solid #FF5A5F;
}

.tourist-spots-inputs {
  display: flex;
}
.tourist-spots-inputs .tourist-spots-wrapper-image {
  display: block;
  width: 100%;
  border: 1px solid #bdbdbd;
}

.tourist-spots-wrapper-text {
  margin: 18px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.tourist-spots-wrapper-text .tourist-spots-input-image {
  width: 288px;
  height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.tourist-spots-wrapper-text .tourist-spots-input-image-span {
  cursor: pointer;
}
.tourist-spots-wrapper-text .tourist-spots-input-title {
  width: 326px;
  height: 54px;
  padding: 10px;
  border-radius: 3.5px;
}
.tourist-spots-wrapper-text .tourist-spots-input-description {
  width: 414px;
  height: 132px;
  margin-top: 17px;
  margin-bottom: 34px;
  padding: 10px;
}
.tourist-spots-wrapper-text .tourist-spots-form-submit-button {
  padding: 16px 20px;
  margin-left: 302px;
  border-radius: 8px;
}

.tourist-spots-result-container {
  margin: 80px 0;
}

.tourist-spots-container {
  max-width: 1440px;
  height: 1165px;
  position: relative;
  margin: 0 auto;
  padding: 0 130px;
}
.tourist-spots-container .tourist-spots-title {
  margin: 32px 0;
  font-size: 32px;
}

/*# sourceMappingURL=main.css.map */
