@import "variables.scss";
@import "global.scss";
@import "forms.scss";


.tourist-spots-container {
    max-width: 1440px;
    height: 1165px;
    position: relative;
    margin: 0 auto;
    padding: 0 130px;
    
    .tourist-spots-title {
        margin: 32px 0;
        font-size: 32px;
    }
}



